[submodule "libairfloat"]
	path = libairfloat
	url = git@github.com:Przytua/libairfloat.git
[submodule "CocoaAsyncSocket"]
	path = CocoaAsyncSocket
	url = git@github.com:robbiehanson/CocoaAsyncSocket.git
[submodule "CocoaHTTPServer"]
	path = CocoaHTTPServer
	url = git@github.com:robbiehanson/CocoaHTTPServer.git
